<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="entreesortie_add">

    <!-------------------------------------------------------- Modal add EntreeSorties ------------------------------------------------------>
    <div class="modal fade" id="enterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle entrée/sortie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/entreesortie/enregistrer}" method="post" th:object="${entreeSortie}">


                        <div class="mb-3">
                            <label for="motif" class="form-label">Motif</label>
                            <select class="form-select" th:value="${entreeSortie.motif}" id="motif" name="motif">
                                <th:block th:each="optMotif : ${T(fr.hellocorp.projetmoscatelli.admin.entree_sortie.EntreeSortie.MotifEntreeSortie).values()}">
                                    <option th:value="${optMotif}" th:text="${optMotif}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="utilisateur" class="form-label">Utilisateur</label>
                            <select id="utilisateur" class="form-select" th:field="*{utilisateur}">Utilisateur
                                <option th:each="utilisateurs:${utilisateurs}" th:value="${utilisateurs.id}" th:text="${utilisateurs.nom}"></option>

                            </select>

                        </div>
                        <div class="mb-3">
                            <label for="outil" class="form-label">Outil</label>
                            <select id="outil" class="form-select" th:field="*{outil}">Outil
                                <option th:each="outils:${Outils}" th:value="${outils.id}" th:text="${outils.designation}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="date_sortie" class="form-label">Date sortie</label>
                            <input type="Date" class="form-control" name="date_sortie" id="date_sortie" placeholder="JJ/MM/AAAA" th:field="*{date_sortie}">
                        </div>
                        <div class="mb-3">
                            <label for="date_de_retour_prevue" class="form-label">Date de retour prévue</label>
                            <input type="Date" class="form-control" name="date_de_retour_prevue" id="date_de_retour_prevue" placeholder="JJ/MM/AAAA" th:field="*{date_de_retour_prevue}">
                        </div>
                        <div class="mb-3">
                            <label for="date_retour" class="form-label">Date de retour</label>
                            <input type="Date" class="form-control" name="date_retour" id="date_retour" placeholder="JJ/MM/AAAA" th:field="*{date_retour}">
                        </div>
                        <div class="mb-3">
                            <label for="date_etalonnage" class="form-label">Date d'étalonnage</label>
                            <input type="Date" class="form-control" name="date_etalonnage" id="date_etalonnage" placeholder="JJ/MM/AAAA" th:field="*{date_etalonnage}">
                        </div>
                        <div class="mb-3">
                            <label for="probleme" class="form-label">probleme</label>
                            <input type="text" class="form-control" name="probleme" id="probleme" placeholder="probleme" th:field="*{probleme}">
                        </div>

<!--                        -->
<!--                        <div class="mb-3">-->
<!--                            <label for="referencePV" class="form-label">referencePV</label>-->
<!--                            <input type="text" class="form-control" name="referencePV" id="referencePV" placeholder="referencePV" th:field="*{referencePV}">-->
<!--                        </div>-->
<!--                        -->

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>