<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="entreesortie_retour">
    <!-------------------------------------------------------- Modal Edit------------------------------------------------------>
    <div class="modal fade"  th:attr="id='retourModal'+*{entreeSortie.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelretour">Retour  pret</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/entreesortie/retour/'+ ${entreeSortie.id}+'?keyword=' +${keyword}}"  method="post" >
                        <input type="hidden" th:value="${entreeSortie.id}">

                        <div class="mb-3">

                            <!--<select class="form-select" id="motif" name="motif" >
                               <option th:each="motif:${motif}" th:value="${entreeSortie.motif}" th:text="${entreeSortie.motif}"
                               th:select="${entreeSortie.motif}==${entreeSortie.motif}"></option>
                            </select>-->

                            <select class="form-select" th:value="${entreeSortie.motif}" id="motif" name="motif" >
                                <option value="Prêt">Prêt</option>
                                <option value="Etalonnage">Etalonnage</option>
                                <option value="Maintenance">Maintenance</option>
                            </select>

                            <label class="form-label">Utilisateur</label>
                            <select class="form-select" id="utilisateur" name="utilisateur">
                                <option th:each="utilisateur:${utilisateurs}" th:value="${utilisateur.id}" th:text="${utilisateur.nom}"
                                        th:selected="${entreeSortie.utilisateur.id}==${utilisateur.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Outil</label>
                            <select class="form-select" id="outil" name="outil">
                                <option th:each="outil:${Outils}" th:value="${outil.id}" th:text="${outil.designation}"
                                        th:selected="${entreeSortie.outil.id} == ${outil.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="date_sortie" class="form-label">Date sortie [[${entreeSortie.date_sortie}]] </label>
                            <input type="hidden" class="form-control" name="date_sortie" id="date_sortie" placeholder="JJ/MM/AAAA" th:value="${entreeSortie.date_sortie}">
                        </div>
                        <div class="mb-3">
                            <label for="date_de_retour_prevue" class="form-label">Date de retour prévue  [[${entreeSortie.date_de_retour_prevue}]]</label>
                            <input type="hidden" class="form-control" name="date_de_retour_prevue" id="date_de_retour_prevue" placeholder="JJ/MM/AAAA" th:value="${entreeSortie.date_de_retour_prevue}">
                        </div>
                        <div  class="mb-3">
                            <label for="date_retour" class="form-label">Date de retour</label>
                            <input type="Date" class="form-control" name="date_retour" id="date_retour" placeholder="JJ/MM/AAAA" th:value="${entreeSortie.date_retour}">
                        </div>
                        <div class="mb-3">
                            <label for="date_etalonnage" class="form-label">Date d'étalonnage</label>
                            <input type="Date" class="form-control" name="date_etalonnage" id="date_etalonnage" placeholder="JJ/MM/AAAA" th:value="${entreeSortie.date_etalonnage}">
                        </div>
                        <div class="mb-3">
                            <label for="probleme" class="form-label">probleme</label>
                            <input type="text" th:value="${entreeSortie.probleme}" class="form-control" id="probleme" name="probleme">
                        </div>
                        <div class="mb-3">
                            <label for="referencePV" class="form-label">referencePV</label>
                            <input type="text" th:value="${entreeSortie.referencePV}" class="form-control" id="referencePV" name="referencePV">
                        </div>
                        <!----------------- Modal footer ----------------->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>