<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="entreesortie_tableau">
<!-------------------------------------------------------- Main ------------------------------------------------------>
<main>

    <div class="container">
        <div class="text-center">
            <h1 sec:authorize="hasAnyRole('ROLE_ADMINISTRATEUR')">Gestion des prêts</h1>
            <h1 sec:authorize="hasAnyRole('ROLE_MAGASINIER')">Historique des prêts</h1>
        </div>
        <!---------------------------- Début du tableau ----------------------------------->
        <table class="table table-striped table-responsive" >
            <thead>
            <tr>

                <th scope="col">Utilisateur</th>
                <th scope="col">Outil</th>

                <th scope="col">Motif</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Date de retour</th>
                <th scope="col">Date de retour prévue</th>
                <th scope="col">Date d'étalonnage</th>
                <th scope="col">Problème</th>
<!--                <th scope="col">Référence PV</th>-->
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!---------------------------- Contenu du tableau ----------------------------------->
            <th:block th:each="entreeSortie : ${entreesSorties}">
                <tr>

                    <td>[[${entreeSortie.utilisateur.nom}]]</td>
                    <td>[[${entreeSortie.outil.designation}]] [[${entreeSortie.outil.numero_de_serie}]]</td>
                    <td>[[${entreeSortie.motif}]]</td>
                    <td>[[${entreeSortie.date_sortie}]]</td>
                    <td>[[${entreeSortie.date_retour}]]</td>
                    <td>[[${entreeSortie.date_de_retour_prevue}]]</td>
                    <td>[[${entreeSortie.date_etalonnage}]]</td>
                    <td>[[${entreeSortie.probleme}]]</td>
<!--                    <td>[[${entreeSortie.referencePV}]]</td>-->
                    
                    <td><a  sec:authorize="hasAnyRole('ROLE_ADMINISTRATEUR')" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#editModal'+*{entreeSortie.id}"><i class="bi bi-pencil-fill"></i></a></td>
                    <td><a  sec:authorize="hasAnyRole('ROLE_ADMINISTRATEUR')" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal'+*{entreeSortie.id}"><i class="bi bi-trash-fill"></i></a></td>

                    <!---------------------------------------------------------- Modal edit / delete ------------------------------------------------------>

                    <div th:replace="fragments/fragments_e_s/entreesortie_edit.html :: entreesortie_edit"></div>
                    <div th:replace="fragments/fragments_e_s/entreesortie_delete.html :: entreesortie_delete"></div>


                    <!-------------------------------------------------------- Fermeture du tableau ------------------------------------------------------>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</main>
</body>
</div>
</html>