<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="configuration_form">
    <!-------------------------------------------------------- Main ------------------------------------------------------>
    <main>
        <div class="page">

        <div class="container">
            <div class="text-center">
                <h1 sec:authorize="hasAnyRole('ROLE_ADMINISTRATEUR','ROLE_VISITEUR')">Configuration</h1>
            </div>

            <form th:action="@{/configuration/enregistrer}" method="post" th:object="${configuration}">
                <input type="hidden" th:name="${configuration.id}">
                <div class="mb-3">
                    <label for="destinatairesNotification" class="form-label">Destinataires des notifications</label>
                    <input type="text" th:value="${configuration.destinatairesNotification}" class="form-control" id="destinatairesNotification" name="destinatairesNotification" >
                </div>

                <div class="mb-3">
                    <label for="heureEnvoi" class="form-label">Heure d'envoi</label>
                    <input type="time" th:value="${configuration.heureEnvoi}" class="form-control" id="heureEnvoi" name="heureEnvoi" >
                </div>

                <div class="mb-3">
                    <label for="alerteOnOff" class="form-label">Activation alerte on/off</label>
                    <input type="checkbox" th:value="${configuration.alerteOnOff}" class="form-control" id="alerteOnOff" name="alerteOnOff" >
                </div>

                <div class="mb-3">
                    <label for="dureePret" class="form-label">Durée du pret</label>
                    <input type="number" th:value="${configuration.dureePret}" class="form-control" id="dureePret" name="dureePret" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        </div>
    </main>
</div>
</html>