<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragment.html :: head"></head>
<!-------------------------------------------------------- Header ------------------------------------------------------>
<body>
<header th:replace="fragments/fragment.html :: header"> </header>

<main>

  <!------------------------------------------------------ formulaire de configuration ------------------------------------------------------>

  <div th:replace="fragments/fragments_configuration/configuration_form.html :: configuration_form"></div>


  </div>
</main>
</body>
</html>
