<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment.html :: head"></head>
<!-------------------------------------------------------- Header ------------------------------------------------------>
<body>
<header th:replace="fragments/fragment.html :: header"> </header>
<!-------------------------------------------------------- Main ------------------------------------------------------>
<main>
    <div class="container">
        <button class="bouton3" type="button" data-bs-toggle="modal" data-bs-target="#enterModal">Ajouter</button>
    </div>
   
        <!------------------------------------------------------ Tableau des entreesortie ------------------------------------------------------>

        <div th:replace="fragments/fragments_e_s/entreesortie_tableau.html :: entreesortie_tableau"></div>

        <!---------------------------------------------------------- Modal Add ------------------------------------------------------>
        <div th:replace="fragments/fragments_e_s/entreesortie_add.html :: entreesortie_add"></div>

    </div>
</main>
</body>
</html>

