<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment.html :: head"> <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<!-------------------------------------------------------- Header ------------------------------------------------------>
<body>
<header th:replace="fragments/fragment.html :: header"> </header>
<!-------------------------------------------------------- Main ------------------------------------------------------>
<main>
    <div class="container">
        <button class="bouton3" type="button" data-bs-toggle="modal" data-bs-target="#enterModal">Ajouter</button>
    </div>
   
        <!------------------------------------------------------ Tableau des entreesortie ------------------------------------------------------>

        <div th:replace="fragments/fragments_e_s/entreesortie_tableau.html :: entreesortie_tableau"></div>

        <!---------------------------------------------------------- Modal Add ------------------------------------------------------>
        <div th:replace="fragments/fragments_e_s/entreesortie_add.html :: entreesortie_add"></div>
    </div>
</main>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d6a12ec88c73bbc',m:'hogMP4osqoYlSOBlHaUQvXRxscn_cnTJksanz4DMzjY-1643706912-0-AXTf1aOdGYR3Rs2IMjAc39TJGlMR4cKU1VZfMTR0qBHI/z/e0kvXEGNeTUooCrQeXCV65mA84h34CLB0XUoLp2bNmEXYGgl6crJbOlJBXJbldiyzCq2klzBYCxO3sYv8gsY5TqGwO3nCwknH4zYB/dAcxRcLBQ4/Y8CHw3ihj3e1HBbmq6TigbpjMqgHaiB4Xw1TSXWwUfG+4jifLMLU120=',s:[0xd7935246bb,0x3f1a8c46c4],}})();</script></body>
</html>

